html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
	
		html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
	
		*, *:before, *:after {box-sizing: inherit}
	
		.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* BASE STYLES*/

.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 125%;
    
    margin: 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(231, 85, 32);
    text-transform: capitalize;
    font-weight: 500;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(231, 85, 32);
    text-decoration: none;
}

p {
    font-size: .8rem;
    font-weight: 100;
    font-family: 'Catamaran', sans-serif;
}

button {
    background-color: white;
    border: 2px solid rgb(231, 85, 32);
    padding: 10px;
    font-weight: bolder;
    font-size: .7rem;
    text-transform: uppercase;
}

/*MOBILE NAV INVISIBLE*/

.display {
    display: none;
}
.mobile-nav-wrapper {
    display: flex;
    justify-content: flex-end;
}

.nav div {
    background-color: black;
    margin: 5px 0;
    width: 60px;
    height: 8px;
}

.nav {
    display: block;
    margin: .5em 2em 0 2em;
}

.one,
.two,
.three {
    width: 50px;

}

/*NAVIGATION STYLES*/

.nav-wrap {
    margin-top: 30px;
}

.nav-wrap ul {
    display: flex;
    justify-content: center;   
    align-content: center;
}

.nav-wrap li {
    display: flex;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: .8rem;
    font-family: 'Montserrat',sans-serif;
}

/*HEADER STYLES*/

.main-wrap {
    display: flex;       
}

.img-container {
    width: 65%;
}


.title-container {
    display: flex;
    align-items: center;
    font-size: 2.5rem;    
}

.title-container h1 {
        font-weight: 600;
}

/*ASIDE STYLES*/

.aside {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    width: 10%;
}

.aside li img {
    height: 30px; 
    width: 30px;

}

/*MAIN STYLES*/

/*NEW TO OUR MENU & FULL EXPERIENCE*/

.content-wrap {
    display: flex;     
}

.image-container {
    display: flex;
    width: 50%;
}

.image-container img {
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 120px 100px;
    width: 50%;
}


.text-container h3 {
    min-width: 300px;
    text-transform: uppercase;
    font-weight: 700;
}

.text-container p {
    
    line-height: 25px;
    
}

.text-container button {
    width: 25%;
}

/*DESSERT SECTION*/

.dessert-wrap {
    display: flex;    
    align-items: center;
    background-color: whitesmoke;
}

.text-container-2 {
    display: flex;
    flex-direction: column;
    align-self: center;      
}

.text-container-2 h3 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}

.text-container-2 p {
    max-width: 700px;
    line-height: 25px;
}

.text-container-2 button {
    background-color: whitesmoke; 
    width: 20%;   
    padding: 10px 20px;
}

.image-container-2 {
    display: flex;    
    margin: 60px 70px;
}

.image-container-2 img {
    width: 100%;
    min-width: 250px;
    justify-content: flex-end;
}

/*CUSTOMER SERVICE STYLES*/

.customer-service {
    background-color: rgb(231, 85, 32);      
}

.service-wrap {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.service-container {
    display: flex;
    flex-direction: column;
}

.service-wrap ul {
    display: flex;
}

.service-wrap img {
    width: 90%;
    height: 80px;
    align-content: center;
    padding: 0 30px;
}

.service-container p { 
    font-size: .9rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 30px;
}

/*GALLERY STYLES*/

.gallery {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.gallery-title h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 50px;
}

.gallery-images ul {
    display: flex;
}

.gallery-images li {
    padding: 0 15px;
}

/*FOOTER STYLES*/

.footer-style {
    background-color: gainsboro;
    
}

.footer-wrap {
    padding: 20px 20px 0px 20px;
}

/*BOTTOM NAV*/

.bottom-nav {
    margin: 30px;
    font-size: .8rem;
}

.bottom-nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

.bottom-nav li {
    display: flex;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
}

/*CONTAINER*/

.bottom-wrap {
    display: flex;
    padding-bottom: 60px ;
}

/*Contact Section */

.contact-wrap {
    width: 50%;
    font-size: .7rem;
}

.contact-wrap h3 {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 20px;
    text-transform: uppercase;
}

.contact-wrap p {
    line-height: 10px;
}

/*Form/Email Section*/

.form-wrapper {
    width: 50%;
    align-items: center;
    font-size: .7rem;
       
}

.form-wrapper h3 {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 20px;
    text-transform: uppercase;
}

.form-wrapper p {
    line-height: 15px;
}

.email {
    display: flex;    
    width: 100%; 
    min-width: 200px;   
}

.input-height {
    height: 40px;
    border: none;
    padding: 0 0 0 20px;
    width: 100%;
}

.submit-button {
    
    padding: 0 30px;
    text-align: center;
}

.email-submit {
    display: flex;
}

/*COPYRIGHT SECTION*/

.copyright p {
    background-color: black;
    color: grey;
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 10px 0;
}






















/*RESPONSIVE DESIGN*/ 

@media (max-width: 390px) {

/*BASE STYLES MOBILE*/

.wrapper {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 800px;
}

h1 {
    font-size: 1em;
    align-items: flex-end;
}

h3 {    
    font-weight: bolder;
}

button {
    
    border-width: 4px;
    font-size: 1.2em;
}


/*NAV STYLES MOBILE*/

.nav-wrap {
    display: none;
}


/*MOBILE NAV VISIBLE*/
.display {
    display: contents;
}

.mobile-nav-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}

.nav div {
    background-color: black;
    margin: 5px 0;
    width: 60px;
    height: 8px;
}

.nav {
    display: block;
    margin: .5em 2em 0 2em;
}

.one,
.two,
.three {
    width: 50px;
}

/*HEADER STYLES MOBILE*/

.main-wrap {
    display: flex;
    flex-direction: column;
}

.title-container {
    width: 90%;
    display: flex;
}

.img-container {
    order: 2;
    position: relative;
    right: 90px;
    top: 8px;
}

.img-container img {
    width: 130%;
}

.title-container h1 {
    order: 1;
    margin: 0;
    text-align: end;
    font-size: 1.4em;
    font-weight: 600;
}

.aside {
    display: none;
}

/*NEW TO OUR MENU AND FULL EXP MOBILE*/

.content-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.image-container {
    order: 1;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.text-container {
    display: flex;
    flex-direction: column;    
    width: 100%;
    order: 2;
    padding: 20px 40px;
}

.text-container h3 {
    text-align: center;    
    font-weight: 700;
    width: 100%;
}

.text-container p {
    line-height: 29px;
    width: 100%;
}


.text-container button {
    align-self: center;
    width: 60%;
    font-size: 1.2rem;
}
/*DESSERT MOBILE*/

.dessert-wrap {
    display: flex;
    flex-direction: column; 
    padding: 40px 0;  
}

.text-container-2 {
    padding: 40px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-container-2 h3 {
    align-self: center;
}

.text-container-2 p {
    text-align: left;
    width: 100%;
    padding: 10px 50px;
    line-height: 29px;
}

.dessert-wrap button {
    align-self: center;
    width: 50%;
}

.image-container-2 {
    margin: 0;
    width: 80%;
}

/*CUSTOMER SERVICE MOBILE*/

.service-wrap ul {
    display: flex;
    flex-direction: column;
}

/*GALLERY MOBILE*/

.gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0 20px;
}

.gallery-title h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
}

.gallery-images ul {
    display: flex;
}

.gallery-images li {
    padding: 0;
}

.gallery-images img {
    padding: 0 15px;
}

.gallery .sesame-chicken {
    display: none;
}

/*FOOTER MOBILE*/

/*BOTTOM NAV MOBILE*/

/*CONTACT SECTION MOBILE*/

.bottom-wrap {
    display: flex;
    flex-direction: column;
}

.contact-wrap {
    width: 100%;
    text-align: center;
}

.contact-wrap p,
.form-wrapper p {
    line-height: 29px;
    font-weight: 500;
}

.form-wrapper {
    width: 100%;
    text-align: center;
}


.email-submit {
    display: flex;
    flex-direction: column;
    line-height: 5px;
}

.submit-button {
    width: 100%;
    padding: 20px 60px;
    font-size: 1.5em;
}

.email {    
    justify-content: center;
    color: black;
}

.input-height {
    
    margin-bottom: 20px;
    padding: 35px 60px;
    text-align: center;
    font-size: 1.5em;
    color: black;
}
/*COPYRIGHT SECTION MOBILE*/

.copyright p {
    padding: 20px 60px;
    font-size: 1.1em;
}

}